<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Railway Test Suite">
    <parameter name="browser" value="chrome"/>

    <test name="Railway Test">
        <classes>
            <class name="railway.LoginTest"/>
            <!-- <class name="railway.LogoutTest"/>
            <class name="railway.CreateAccount"/>
            <class name="railway.ResetPassword"/>
            <class name="railway.BookTicket"/>
            <class name="railway.CancelBooking"/> -->
        </classes>
    </test>
</suite>
